/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'geist';
    src: url('/fonts/GeistMonoVF.woff') format(woff);
}

. {
    font-family: 'geist';
}

h1 {
    @apply text-[2rem] md:text-[4rem] lg:text-[5rem];
}
